p {
    font-family: $mainFont;
    color: $darkGrayishBlue;
    font-size: em(15);
    line-height: 1.5;
}

.container {
    max-width: em(1110);
    margin: em(90) auto em(130);

    @include breakpoint(desktop) {
        max-width: 100%;
        padding: 0 em(20);
    }

    @include breakpoint(mobile) {
        margin: 0 0 em(100);
    }
}

.button {
    display: inline-block;
    font-family: $mainFont;
    font-size: em(14);
    color: $white;
    background-color: $red;
    padding: em(15) em(30);
    text-decoration: none;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $darkBlue;
    }
}

.attribution {
    font-family: $mainFont;
    font-size: em(12);
    text-align: center;
    padding: 20px 10px;
    color: $darkBlue;

    a {
        color: $darkBlue;
    }
}
