//COLORS
$orange: #e9ab53;
$red: #f15e50;
$white: #fffdfa;
$grayishBlue: #c5c6ce;
$darkGrayishBlue: #5d5f79;
$darkBlue: #00001a;

//FONTS
$mainFont: 'Inter';
$semiBoldFont: 'Inter-700';
$boldFont: 'Inter-800';
